In [2]:
%load_ext sql

In [3]:
%%sql 
postgresql://grupo121:dcavjws121@codd.ing.puc.cl/grupo121e3

### FUNCION  DA LA INFORMACION DE LAS INSTALACIONES TIPO MUELLE DISPONIBLES EN UN PUERTO ESPECIFICO EN UN DIA

In [ ]:
%%sql
DROP FUNCTION IF EXISTS disponibilidad_muelle(integer,character varying,character varying);

CREATE OR REPLACE FUNCTION disponibilidad_muelle(puerto_input integer, finicio varchar)
RETURNS TABLE (yy timestamp, iid integer, count float, capacidad float, ocupacion integer ) AS 
$$
DECLARE
i record;
BEGIN

    RETURN QUERY EXECUTE ' SELECT * FROM 
            capacidad_dia($1, $2, $2)  WHERE NOT ocupacion = 100 
            AND iid IN (SELECT * FROM muelle) ORDER BY iid '
        USING puerto_input, finicio;


RETURN;
END;
$$ language plpgsql;

** RETONAR UNA TABLA CON TODAS LAS INSTALACIONES MUELLE DISPONIBLES ESE DIA EN ESE PUERTO **

In [ ]:
%%sql
SELECT * FROM disponibilidad_muelle(1, '2017-03-04');

_____
### FUNCION  DA LA INFORMACION DE LAS INSTALACIONES TIPO ASTILLERO DISPONIBLES EN UN PUERTO ESPECIFICO EN UN INTERVALO DE TIEMPO

In [ ]:
%%sql
DROP FUNCTION IF EXISTS disponibilidad_astillero(integer,character varying,character varying);

CREATE OR REPLACE FUNCTION disponibilidad_astillero(puerto_input integer, finicio varchar, ffinal varchar)
RETURNS TABLE (yy timestamp, iid integer, count float, capacidad float, ocupacion float ) AS 
$$
DECLARE
i record;
j record;
k  INT;
BEGIN
CREATE TABLE dispo_astillero( yy timestamp, iid integer, count float, capacidad float, ocupacion float      );

FOR i IN SELECT DISTINCT capacidad_dia.iid 
         FROM capacidad_dia(puerto_input, finicio, ffinal)  WHERE NOT capacidad_dia.ocupacion = 100 
         AND capacidad_dia.iid IN (SELECT * FROM astillero) ORDER BY iid LOOP
        
        
        
        k := (  SELECT p.count FROM (
                 SELECT COUNT(*) FROM 
                capacidad_dia(puerto_input, finicio, ffinal)  WHERE capacidad_dia.iid = i.iid 
                AND NOT capacidad_dia.ocupacion = 100 AND capacidad_dia.iid IN (SELECT * FROM astillero)) as p);
            
        IF k = ( SELECT q.count FROM (SELECT count(*) FROM rango ( finicio, ffinal, '1 day' ) ) as q) THEN
            
            FOR j IN SELECT * FROM capacidad_dia(puerto_input, finicio, ffinal)  WHERE capacidad_dia.iid = i.iid
                    AND NOT capacidad_dia.ocupacion = 100 AND capacidad_dia.iid IN (SELECT * FROM astillero) ORDER BY iid, yy LOOP
            
            INSERT INTO dispo_astillero VALUES(j.yy, j.iid, j.count, j.capacidad, j.ocupacion );
            END LOOP;
        END IF;
END LOOP;
        

RETURN QUERY SELECT * FROM dispo_astillero;
    DROP TABLE dispo_astillero;
    RETURN;
END;
$$ language plpgsql;

** RETONAR UNA TABLA CON TODAS LAS INSTALACIONES ASTILLEROS DISPONIBLES ESE INTERVALO DE TIEMPO EN ESE PUERTO **

In [ ]:
%%sql
SELECT * FROM disponibilidad_astillero(1,'2017-03-01', '2017-03-05')

Notar que no retorna los numeros que tienen ocupacion 1, asi que esta bien

In [ ]:
%%sql
SELECT * FROM capacidad_dia(1, '2017-03-01', '2017-03-06')  WHERE NOT ocupacion =0 ORDER BY iid;

### FUNCION INSERTA RESERVA MUELLE/CARGA

In [ ]:
%%sql
DROP FUNCTION IF EXISTS reservar_muelle(integer,character varying,character varying,character varying);

CREATE OR REPLACE FUNCTION reservar_muelle(puerto_input integer, finicio varchar, patente varchar)
RETURNS TABLE (per_id int, patente2 varchar, fecha_i timestamp, iid int ) AS 
$$
DECLARE
i record;
k INT;
j INT;
p VARCHAR;
w VARCHAR;
BEGIN

CREATE TABLE reserva_muelle( per_id int, patente2 varchar, fecha timestamp,iid int);
    w := patente;
    k := (SELECT Q.count FROM (SELECT COUNT (*) FROM barco WHERE barco.patente ILIKE w) AS Q);
    
    
    IF k = 1 THEN
        p := (SELECT name.patente FROM (SELECT barco.patente FROM barco WHERE barco.patente ILIKE w ) as name);
            
        FOR i in SELECT * FROM disponibilidad_muelle(puerto_input, finicio) LOOP
           
                j := (SELECT permiso.per_id FROM permiso ORDER BY per_id DESC LIMIT 1);
                INSERT INTO reserva_muelle VALUES (j +1, p, finicio ::timestamp, i.iid);
                
                INSERT INTO permiso VALUES (j +1, p, finicio ::timestamp, i.iid  );
                INSERT INTO permisocarga VALUES (j +1, 'Solicitada por usuario'  );
            
                
                RETURN QUERY SELECT * FROM reserva_muelle;
                    DROP TABLE reserva_muelle;
                    RETURN;
        END LOOP;
        
    
    END IF;
    
                
                


RETURN QUERY SELECT * FROM reserva_muelle;
    DROP TABLE reserva_muelle;
    RETURN;
END;
$$ language plpgsql;

Si se logra hacer el permiso retorna la informacion

In [ ]:
%%sql
--select * from reservar_muelle(1, '2017-03-04', 'DK4889' );

### FUNCION INSERTA RESERVA ASTILLEROS

In [16]:
%%sql
DROP FUNCTION IF EXISTS reservar_astillero(integer,character varying,character varying,character varying);

CREATE OR REPLACE FUNCTION reservar_astillero(puerto_input integer, finicio varchar, ffinal varchar, patente varchar)
RETURNS TABLE (per_id int, patente2 varchar, fecha_i timestamp, fecha_s timestamp, iid int ) AS 
$$
DECLARE
i record;
k INT;
j INT;
w varchar;
p varchar;
BEGIN

CREATE TABLE reserva_astillero( per_id int, patente2 varchar, fecha timestamp, fecha_s timestamp,iid int);

    w := patente;
    k := (SELECT Q.count FROM (SELECT COUNT (*) FROM barco WHERE barco.patente ILIKE w) AS Q);
    IF k = 1 THEN
    p := (SELECT name.patente FROM (SELECT barco.patente FROM barco WHERE barco.patente ILIKE w ) as name);
        
    FOR i in (SELECT DISTINCT astillero.iid FROM astillero, (SELECT yy, capacidad_dia.iid,ocupacion 
            FROM capacidad_dia(1, finicio, ffinal) 
            WHERE NOT ocupacion = 100 ORDER BY iid, yy) as disponible WHERE astillero.iid = disponible.iid) LOOP
    
    
    j := (SELECT permiso.per_id FROM permiso ORDER BY per_id DESC LIMIT 1);
    INSERT INTO reserva_astillero VALUES (j +1, p, finicio ::timestamp, ffinal ::timestamp, i.iid);
    INSERT INTO permiso VALUES (j +1, p, finicio ::timestamp, i.iid );
    INSERT INTO permisoastillero VALUES (j +1,   ffinal ::timestamp );
    
    
    

        
                
                


RETURN QUERY SELECT * FROM reserva_astillero;
                    DROP TABLE reserva_astillero;
                    RETURN;
        END LOOP;
        
    
    END IF;
    
                
                


RETURN QUERY SELECT * FROM reserva_astillero;
    DROP TABLE reserva_astillero;
    RETURN;
END;
$$ language plpgsql;

 * postgresql://grupo121:***@codd.ing.puc.cl/grupo121e3
Done.
Done.

[]

In [18]:
%%sql
select * from reservar_astillero(1, '2017-03-01', '2017-03-05', 'dk4889' )

 * postgresql://grupo121:***@codd.ing.puc.cl/grupo121e3
1 rows affected.

[(915, 'DK4889', datetime.datetime(2017, 3, 1, 0, 0), datetime.datetime(2017, 3, 5, 0, 0), 60)]