In [1]:
%load_ext sql

In [2]:
%%sql 
postgresql://grupo121:dcavjws121@codd.ing.puc.cl/grupo121e3

### FUNCION CREA UNA TABLA CON TODOS LOS DIAS ENTRE DOS FECHAS

In [ ]:
%%sql
DROP FUNCTION IF EXISTS rango (character varying,character varying,character varying);

CREATE OR REPLACE FUNCTION rango(finicio varchar, ffinal varchar, r varchar)
RETURNS TABLE (yy timestamp, yy_next timestamp ) AS 
$$
DECLARE
i record;
BEGIN
CREATE TABLE fecha(yy timestamp, yy_next timestamp );
    FOR i in SELECT * FROM generate_series(finicio::timestamp, ffinal ::timestamp, '1 day')LOOP
        INSERT INTO fecha VALUES(i.generate_series, i.generate_series ::timestamp + interval '1 day');
    END LOOP;


RETURN QUERY SELECT * FROM fecha;
    DROP TABLE fecha;
    RETURN;
END;
$$ language plpgsql;

** rango(varchar, varchar, varchar )  **

** INPUT = ** ( string fecha inicio intervalo, string fecha fin intervalor, string intervalo)

In [ ]:
%%sql
SELECT * FROM rango('2008-02-29', '2008-03-03', '1 day' )

_______
### FUNCION ENTREGA CANTIDAD DE BARCOS QUE TIENEN PERMISO EN UN DIA EN UNA INSTALACION  ESPECIFICA

In [ ]:
%%sql
-- TODOS LOS BARCOS QUE TIENE AL MENOS UN PERMISOS EN 
-- UNA INSTALACION UN DIA ESPECIFICO EN EL PUERTO EN UN INTERVALO DE TIEMPO
DROP FUNCTION IF EXISTS permisos_puerto
(integer,character varying,character varying,timestamp without time zone,timestamp without time zone,integer) ;

In [ ]:
%%sql
-- TODOS LOS BARCOS QUE TIENE AL MENOS UN PERMISOS EN 
-- UNA INSTALACION UN DIA ESPECIFICO EN EL PUERTO EN UN INTERVALO DE TIEMPO
DROP FUNCTION permisos_puerto2(integer,character varying,character varying,timestamp without time zone,timestamp without time zone,integer);

CREATE OR REPLACE FUNCTION permisos_puerto2(puerto_input integer, f1 varchar, f2 VARCHAR, f3 timestamp, f4 timestamp, insta integer )
RETURNS TABLE (iid integer, capacidad int, count bigint) AS 
$$
DECLARE
i record;
BEGIN
    RETURN QUERY EXECUTE ' 
            SELECT iid, capacidad, count from instalacion, 
            (
            SELECT COUNT(patente_barco) FROM
            (SELECT * FROM (
            SELECT * FROM union_permisos($2, $3, $1 )) AS total
            WHERE fecha_i >= $4 
            AND fecha_i < $5 AND iid = $6) as todas 
            group by patente_barco) AS cantidad
            WHERE iid = $6 '
        
    USING puerto_input, f1, f2, f3, f4, insta;
    
RETURN;
END;
$$ language plpgsql;

** permisos_puert2(int, varchar, varchar,timestamp,timestamp, int)  **

** INPUT = ** (puerto , string fecha inicio intervalor, string fecha fin intervalor, dia a consultar, dia siguiente, instalacion)

In [ ]:
%%sql 
SELECT *FROM 
permisos_puerto2(1,'2017-12-12', '2017-12-15','2017-12-12 00:00:00','2017-12-13 00:00:00',205)
;

En el dia '2017-12-12' solo 1 barco tiene permiso de ir a la instalacion 205 con capacidad 2, ubicada en el puerto 1
__________

In [ ]:
%%sql 
-- TODAS LAS INSTALACIONES DEL PUERTO IID
SELECT * FROM rango('2017-12-12', '2017-12-15', '1 day' ), 
(select iid from instalacion where instalacion.pid_puerto = 1) AS FOO;

_______
### FUNCION TODOS LOS DIAS EN UN INTERVALO  EN QUE LAS INSTALACIONES DE UN PUERTO TIENEN ESPACIO

In [ ]:
%%sql
-- TODOS LOS PERMISOS QUE TIENE EL PUERTO EN UN INTERVALO DE TIEMPO
DROP FUNCTION IF EXISTS capacidad_dia(integer,character varying,character varying) ;

CREATE OR REPLACE FUNCTION capacidad_dia(puerto_input integer, f1 VARCHAR, f2 VARCHAR)
RETURNS TABLE ( yy timestamp, iid INTEGER, count float, capacidad float, ocupacion int) AS 
$$
DECLARE
i record;
j record;
k INT; 
BEGIN
CREATE TABLE temp1 ( yy timestamp, iid INTEGER, count float, capacidad float, ocupacion int);
    FOR i IN SELECT * FROM rango(f1, f2, '1 day' ), (select instalacion.iid from instalacion where instalacion.pid_puerto = puerto_input) AS FOO LOOP
        
        k := (SELECT p.count FROM (
         SELECT COUNT(*) FROM permisos_puerto2(puerto_input,f1, f2,i.yy,i.yy_next,i.iid)) AS p);
        
        IF k = 0 THEN
        INSERT INTO temp1 VALUES (i.yy, i.iid, 0,0,0 );
        END IF;
        
        
        FOR j IN SELECT * FROM permisos_puerto2(puerto_input,f1, f2,i.yy,i.yy_next,i.iid) LOOP
    
                --IF j.capacidad > j.count THEN
                INSERT INTO temp1 VALUES (i.yy, i.iid, j.count, j.capacidad,( CAST(j.count AS FLOAT) / CAST(j.capacidad AS FLOAT))*100);
                --END IF;
            
        
        END LOOP;
    END LOOP;
    
    
    RETURN QUERY SELECT * FROM temp1;
    DROP TABLE temp1;
    RETURN;
END;
$$ language plpgsql;

** capacidad_dia(int, varchar, varchar)  **

** INPUT = ** (puerto , string fecha inicio intervalor, string fecha fin intervalor)

In [ ]:
%%sql
SELECT * FROM capacidad_dia(1, '2017-01-01', '2017-03-06')  WHERE NOT ocupacion =0 ORDER BY iid;

In [ ]:
%%sql
SELECT yy,iid,ocupacion 
FROM capacidad_dia(1, '2017-03-01', '2017-03-06') 
WHERE NOT ocupacion = 100 ORDER BY iid, yy;

In [ ]:
%%sql
SELECT yy,iid,ocupacion, capacidad FROM capacidad_dia(1, '2017-03-01', '2017-03-06') ORDER BY iid, yy;

_______
Notar que durante ese intervalo solo hay 4 permisos en el puerto 1.
Todos los otros dias estan completamente libres:

In [ ]:
%%sql
SELECT * FROM union_permisos('2017-01-01', '2017-03-03', 1 ) 
WHERE fecha_i >= '2017-01-01' ::timestamp and fecha_i <= '2017-03-03 24:00:00'::timestamp  ORDER BY fecha_i;

Notar que la instalacion 75 esta ocupada por lo tanto no sale en capacidad_dia

In [ ]:
%%sql 
SELECT * FROM 
permisos_puerto2(1,'2017-01-01', '2017-03-03','2017-03-06 00:00:00','2017-03-07 00:00:00',75)
;

Notar que la instacion 121 tiene 50% de su capacidad por lo tanto si sale en capacidad_dia

In [ ]:
%%sql 
SELECT * FROM 
permisos_puerto2(1,'2017-01-01', '2017-03-03','2017-03-02  00:00:00','2017-03-03  00:00:00',123)
;

_____
### FUNCION UNE PERMISOS ASTILLEROS 
ASIGNA UN PERMISO PARA CADA DIA ENTRE FECHA_I Y FECHA_S

In [ ]:
%%sql
DROP FUNCTION IF EXISTS union_permisos(character varying,character varying,integer);

CREATE OR REPLACE FUNCTION union_permisos(finicio varchar, ffinal varchar, puerto integer)

RETURNS TABLE (per_id integer, patente_barco varchar, fecha_i timestamp, iid integer) AS 
$$
DECLARE
i record;
j record;
p integer;
BEGIN

p := puerto;

CREATE TABLE temp (per_id integer, patente_barco varchar, fecha_i timestamp, iid integer);

FOR i IN SELECT permisoastillero.per_id, todo.patente_barco, fecha_s, todo.fecha_i, todo.iid 
                        FROM permisoastillero,(select * FROM permiso 
                        WHERE permiso.iid IN ( select instalacion.iid from instalacion where instalacion.pid_puerto = p) 
                        AND permiso.fecha_i >= finicio ::timestamp and permiso.fecha_i <= ffinal::timestamp) as todo
                        WHERE permisoastillero.per_id = todo.per_id LOOP
     
    FOR j IN SELECT  * FROM rango(CAST(i.fecha_i as varchar)  , CAST(i.fecha_s as varchar), '1 day') LOOP
    
        INSERT INTO temp VALUES (i.per_id, i.patente_barco, j.yy_next, i.iid );
        
    END LOOP;
END LOOP;
    

RETURN QUERY SELECT * FROM temp UNION 
select * FROM permiso 
        WHERE permiso.iid IN ( select instalacion.iid from instalacion where instalacion.pid_puerto = p) 
        AND permiso.fecha_i >= finicio ::timestamp and permiso.fecha_i <= ffinal ::timestamp;
    DROP TABLE temp;
    RETURN;
END;
$$ language plpgsql;

In [ ]:
%%sql
SELECT * FROM union_permisos('2017-01-29', '2017-12-03', 1 );

In [ ]:
%%sql
SELECT * FROM union_permisos('2017-01-29', '2017-12-03', 1 ) ORDER BY per_id;